*{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-size: 30px;
    font-style: normal;
    font-weight: 100;
}


.titulo {
    text-align: center;
}

.lista{
    

}

.ingredientes{
    list-style-type: none;
    padding: 10px;
    
}

.ingredientes2{
    list-style-type: none;
}