*{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-size: 30px;
    font-style: normal;
}


.titulo {
    text-align: center;
}

.ingredientes{
    list-style-type: none;
}

.ingredientes2{
    list-style-type: none;
    float: right;
}